
// media queries

@mixin responsive-mobile {
  @media screen and (max-width: 767px) {
    @content;
  }
}

@mixin responsive-tablet {
  @media screen and (max-width: 1269px) {
    @content;
  }
}

@mixin responsive-desktop {
  @media screen and (min-width: 1270px) {
    @content;
  }
}

@mixin responsive-desktop2 {
  @media screen and (min-width: 1271px) and (max-width: 1433px) {
    @content;
  }
}

// position elements

@mixin flexbox-between() {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flexbox-center() {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin align-center() {
  display: flex;
  align-items: center;
}

@mixin container() {
  max-width: 1450px;
  margin: 0 auto;
}