
// default font
$font-main: 'Urbanist', sans-serif;
$font-secondary: 'Inter', sans-serif;


// dark colors
$dark-title: #030303;
$dark-description: #404040;
$dark-p: #1B1B1B;
$dark-border: #9c9c9c;
$dark-p2: #141414;


// light colors
$light-title: #FFFFFF;
$light-title2: #DBDBDB;
$light-title3: #DEDEDE;
$light-p: #C3C3C3;
$light-bg-input: #FEFEFE;
$light-border: #797979;
$light-title4: #b3b3b3;
$light-bar: #eeeeee;


// yellow main
$yellow: #e38c0a;
$yellow2: #c77a0771;