
#s-faq {
  background: url(/assets/img/bg-secondary.png) no-repeat center 10% / cover;
  height: 100%;
  .container {
    @include container();
    padding: 8rem 0 10rem 0;
    @include responsive-tablet() {
      padding: 8rem 4rem 10rem 4rem;
    }
    @include responsive-mobile() {
      padding: 8rem 2.5rem 8rem 2.5rem;
    }
    @include responsive-desktop() {
      padding: 11rem 4rem 12rem 4rem;
    }
  }
}

.content-title-faq {
  b {
    color: $yellow;
    text-transform: uppercase;
    font-size: 1.5rem;
    letter-spacing: 1px;
  }
  h1 {
    color: $light-title;
    font: 600 4.5rem $font-main;
    letter-spacing: .5px;
    margin-bottom: 1.5rem;
    margin: 1rem 0 1.5rem 0;
    span {
      color: $yellow;
      font: 800 4.5rem $font-main;
      position: relative;
      @include responsive-mobile() {
        font-size: 4rem;
      }
    }
  }
  p {
    color: $light-p;
    font: 400 1.7rem $font-secondary;
    line-height: 32px;
    margin-bottom: 8rem;
    max-width: 650px;
    @include responsive-mobile() {
      font-size: 1.6rem;
      line-height: 32px;
    }
  }
}

.container-questions {
  border: 1px solid $yellow;
  padding: 3rem 3.5rem 1.8rem 3.5rem;
  margin-bottom: 3rem;
  border-radius: 3px;
  position: relative;
  cursor: pointer;
  &:hover {
    border: 1px solid $yellow2
  }
  div {
    @include flexbox-between();
    gap: 20px;
  }
  img {
    transform: translateY(-7px);
  }
  h2 {
    color: $light-title;
    font-weight: 500;
    font-size: 1.7rem;
    margin-bottom: 1.3rem;
  }
  p {
    color: $light-p;
    font: 400 1.4rem $font-secondary;
    max-width: 600px;
    line-height: 30px;
    margin-bottom: 1rem;
    padding: 3.5rem 0 2.5rem 0;
  }
}

.container-questions .answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
}

.icon {
  font-size: 3rem;
  font-weight: 300;
  color: $light-title;
  border-radius: 7px;
  background-color: $yellow;
  width: 35px;
  height: 35px;
  padding: 0 0 .5rem .75rem;
  transition: .2s all ease-in-out;
  transform: translateY(-5px);
  &:hover {
    background-color: $yellow2;
  }
  @include responsive-mobile() {
    background-color: transparent;
    color: $yellow;
  }
}

.content-questions {
  @include align-center();
  gap: 30px;
  @include responsive-tablet() {
    display: block;
  }
}