
#s-home {
  background: url(/assets/img/bg-home.png) no-repeat center 10% / cover;
  height: 100%;
  @include responsive-tablet {
    background: url(/assets/img/bg-home.png) no-repeat center right 25% / cover;
    height: 85%;
  }
  @include responsive-mobile() {
    background: url(/assets/img/bg-home.png) no-repeat center left 0% / cover;
    height: 100%;
  }
  .container {
    @include container();
    @include responsive-tablet() {
      padding: 20rem 4rem 12rem 4rem;
    }
    @include responsive-mobile() {
      padding: 14rem 2.5rem 12rem 2.5rem;
    }
    @include responsive-desktop() {
      padding: 24.5rem 4rem 23rem 4rem;
    }
  }
}

.container-text-home {
  b {
    color: $yellow;
    text-transform: uppercase;
    font-size: 1.5rem;
    letter-spacing: 1px;
  }
  h1 {
    color: $dark-title;
    font: 600 5.5rem $font-main;
    line-height: 75px;
    max-width: 750px;
    margin: 1rem 0 3.5rem 0;
    span {
      color: $yellow;
      font: 500 5.5rem $font-main;
      @include responsive-mobile() {
        font-size: 4rem;
      }
    }
    @include responsive-mobile() {
      font-size: 4rem;
      line-height: 55px;
    }
  }
  p {
    color: $dark-title;
    font: 400 2rem $font-secondary;
    line-height: 35px;
    margin-bottom: 4rem;
    max-width: 700px;
    @include responsive-mobile() {
      font-size: 1.6rem;
      line-height: 32px;
    }
  }
  a > button {
    font-size: 1.7rem;
    font-weight: 500;
    padding: 1.6rem 2.9rem;
  }
}