
#s-portfolio {
  .container {
    @include container();
    padding: 8rem 0 10rem 0;
    @include responsive-tablet() {
      padding: 8rem 4rem 10rem 4rem;
    }
    @include responsive-mobile() {
      padding: 8rem 2.5rem 10rem 2.5rem;
    }
    @include responsive-desktop() {
      padding: 11rem 4rem 13rem 4rem;
    }
  }
}

.content-title-portfolio {
  b {
    color: $yellow;
    text-transform: uppercase;
    font-size: 1.5rem;
    letter-spacing: 1px;
  }
  h1 {
    color: $dark-title;
    font: 700 4.5rem $font-main;
    line-height: 70px;
    max-width: 550px;
    margin-bottom: 1.5rem;
    span {
      color: $yellow;
      font: 800 4.5rem $font-main;
      position: relative;
      @include responsive-mobile() {
        font-size: 4rem;
      }
    }
  }
  p {
    color: $dark-description;
    font: 500 1.8rem $font-secondary;
    line-height: 32px;
    margin-bottom: 5rem;
    max-width: 600px;
    @include responsive-mobile() {
      font-size: 1.6rem;
      line-height: 32px;
    }
  }
}

.container-portfolio {
  @include align-center();
  flex-wrap: wrap;
  gap: 35px;
  img {
    width: 433px;
    border-radius: 6px 10px 6px 10px;
    margin-top: 3.5rem;
    transition: all .2s ease-in-out;
    &:hover {
      width: 415px;
    }
  }
  h2 {
    text-align: center;
    font: 500 2.3rem $font-secondary;
    margin-top: 2rem;
    line-height: 34px;
  }
}