
#s-work-with-us {
  .container {
    @include container();
    padding: 8rem 0 10rem 0;
    @include responsive-tablet() {
      padding: 0 4rem 10rem 4rem;
    }
    @include responsive-mobile() {
      padding: 0 2.5rem 8rem 2.5rem;
    }
    @include responsive-desktop() {
      padding: 11rem 6rem 12rem 6rem;
    }
  }
}

.content-work {
  @include flexbox-between();
  align-items: start;
  padding-top: 4rem;
}

.content-title-work {
  b {
    color: $yellow;
    text-transform: uppercase;
    font-size: 1.5rem;
    letter-spacing: 1px;
  }
  h1 {
    color: $dark-title;
    font: 700 4.5rem $font-main;
    letter-spacing: .5px;
    margin-bottom: 1.5rem;
    margin: 1rem 0 1.5rem 0;
    span {
      color: $yellow;
      font: 800 4.5rem $font-main;
      position: relative;
      @include responsive-mobile() {
        font-size: 4rem;
      }
    }
  }
  p {
    color: $dark-description;
    font: 400 1.7rem $font-secondary;
    line-height: 32px;
    margin-bottom: 6rem;
    max-width: 600px;
    @include responsive-mobile() {
      font-size: 1.6rem;
      line-height: 32px;
    }
  }
}

form {
  ul {
    margin: 0 auto;
    div:not(.button-submit) {
      @include flexbox-center();
      justify-content: start;
      gap: 20px;
      @include responsive-mobile() {
        display: block;
      }
    }
    input:not(.button-submit) {
      margin-bottom: 2.5rem;
      padding: 2rem 3rem 2rem 1.8rem;
      border: 1px solid $yellow;
      border-radius: 3px;
      outline: none;
      caret-color: $yellow;
      font-weight: 500;
      color: $dark-title;
      @include responsive-mobile() {
        width: 100%;
      }
      &::placeholder {
        color: $dark-p;
        text-align: center;
        font-weight: 400;
        padding: 5px;
      }
      &:focus {
        outline: none;
      }
    }
  }
}


input[type="file"] {
  display: none;
}

label {
  @include flexbox-center();
  gap: 8px;
  cursor: pointer;
  width: 274px;
  text-align: center;
  font: 500 1.6rem $font-secondary;
  margin-bottom: 2.5rem;
  padding: 2rem 3rem 2rem 1.8rem;
  border: 1px solid #e38c0a;
  border-radius: 3px;
  outline: none;
  color: $dark-p;
  &:hover {
    background-color: #f8f8f8;
  }
  img {
    width: 20px;
  }
  @include responsive-mobile() {
    width: 100%;
  }
}

.container-content-work {
  margin-top: 5rem;
}

.container-input-file:focus {
  border-color: #31802a;

}

.img-work {
  width: 600px;
  @include responsive-tablet() {
    display: none;
  }
}
.container-button-submit-work {
  color: $dark-title;
  cursor: pointer;
  display: block;
  width: 568px;
  text-align: center;
  background-color: $yellow;
  border-radius: 3px 10px 3px 10px;
  transition: ease-out 0.3s;
  border: 1px solid $yellow;
  padding: 1.3rem 2rem;
  margin-top: 1rem;
  &:hover {
    color: $light-title;
    border: 1px solid $dark-title;
    background-color: $dark-title;
  }
  @include responsive-mobile() {
    width: 100%;
  }
}